form {
    background-color: #ffffff;
    border-radius: 10px;
}

.form-parent {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0a8;
}

.submit-close-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}

.submit-close-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.submit-close-btn-div button {
    width: 20%;
    display: flex;
    justify-content: center;
}
/* for image previwe */
.img-preview {
  width: 100%;
  display: flex;
  gap: 1%;
}

.img-link-form {
  width:60%;
  height: auto;
}

.img-preview-form {
  width: 40%;
  height: 150px;
  overflow: hidden;
}

.img-preview-form img {
  width:auto;
  height: 100%;
  border-radius: 8px;
}